@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap");

:root {
  --color-primary: #f2f2f2;
  --color-accent: #2d4085;
  --text: #000000;
  --bg-image: url("./assets/bg_light.svg");
  --box-shadow-color: rgba(85, 85, 85, 0.8);
  --box-bg: rgba(106, 106, 117, 0.232);
  --text-reverse: #ffffff;
}

/* -------------------------------- Dark mode  */
[data-theme="dark"] {
  --color-primary: #0d1b2a;
  --color-accent: #ffc300;
  --box-shadow-color: rgba(255, 255, 255, 0.3);
  --text: #ffffff;
  --box-bg: rgba(0, 0, 0, 0.5);
  --bg-image: url("./assets/bg_dark.svg");
  --text-reverse: #000000;
}
/* -------------------------------- General */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: var(--color-primary);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--text);
}
h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}
h2 {
  font-size: 2rem;
}
p {
  margin: 1rem 0;
}
.text-accent {
  color: var(--color-accent);
  font-weight: 600;
}
@media (max-width: 768px) {
  body {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
    margin: 0.25rem 0;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    margin: 0.25rem 0;
  }
}
/* -------------------------------- Loader  */
.loader-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--color-primary);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------- Header  */
/* -------------------------------- Navbar  */
header {
  padding: 1rem 2rem;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.navbar-right {
  display: flex;
  gap: 1rem;
}

.navbar-group {
  display: flex;
  justify-content: space-between;
  align-items: "center";
  gap: 1rem;
  border-radius: 50px;
  padding: 0.5rem 2rem;
  background-color: var(--box-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
}

.nav-theme-btn {
  padding: 0.5rem;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }
  .navbar-group {
    padding: 0.3rem 1rem;
  }
  .nav-theme-btn {
    padding: 0.25rem;
  }
}

@media (max-width: 576px) {
  nav {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
}
/* -------------------------------- Main  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

@media (max-width: 576px) {
  main {
    margin: 1rem 0;
  }
}
/* -------------------------------- Form  */
.input-container {
  border-radius: 20px;
  padding: 2rem;
  min-height: 27rem;
  min-width: 33rem;
  max-width: 60rem;
  background: var(--box-bg);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}

form > .field {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
}

.field > label {
  justify-self: end;
}

.submit-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .input-container {
    /* padding: 1rem; */
    min-height: 25rem;
    min-width: 33rem;
    max-width: 60rem;
  }
}

@media (max-width: 576px) {
  .input-container {
    /* min-height: 25rem; */
    min-width: 25rem;
    /* max-width: 20rem; */
    /* padding: 2rem; */
  }
  form > .field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
/* -------------------------------- Buttons  */
.btn {
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  background: none;
  font-size: 1.2rem;
  color: var(--text);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: none;
}

.btn:hover,
.btn-theme:hover {
  color: var(--color-accent);
}
.btn:active {
  transform: scale(0.98);
}
.btn-theme {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--text);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
}

.btn-submit {
  padding: 0.5rem 1.2rem;
  border-radius: 25px;
  background: none;
  border: 2px solid var(--color-accent);
  font-size: 1.2rem;
  color: var(--text);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btn-submit:hover {
  background: var(--color-accent);
  color: var(--text-reverse);
}
.btn-submit:active {
  transform: scale(0.98);
}

.btn-cancel {
  color: red;
  transition: all 0.1s ease-in-out;
}

.btn-cancel:hover {
  color: rgb(255, 93, 93);
}
.btn-cancel:active {
  transform: scale(0.98);
}
@media (max-width: 768px) {
  .btn {
    font-size: 1rem;
    padding: 0.3rem;
  }
  .btn-theme {
    font-size: 1.6rem;
    padding: 0.1rem;
  }
  .btn-submit {
    font-size: 1rem;
  }
}

/* -------------------------------- Text input  */
.text-input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0;
  box-sizing: border-box;
  padding: 12px 15px;
  width: 100%;
  min-width: 15rem;
}
.text-input:focus {
  border: 1px solid var(--color-accent);
}

/* -------------------------------- Bell input  */
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 0;
  color: black;

  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: var(--color-accent);
  color: var(--text-reverse);
  font-weight: 600;
}

.timer-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.time-display {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 50px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: white;
  color: black;
  width: 20rem;
}

.time-display-controls {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.time-control-btn {
  font-size: 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-message {
  margin-top: 1.05rem;
  text-align: center;
  font-size: 1.5rem;
}

/* -------------------------------- Custom time picker style  */
.custom-dropdown {
  position: relative;
  width: 50px;
  user-select: none;
  color: #000000;
}

.dropdown-trigger {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
}

.dropdown-trigger:hover {
  border-color: #888;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  transition: transform 0.2s;
}

.arrow.open {
  transform: rotate(180deg) translateY(2px);
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 0;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: max-height 0.25s ease, opacity 0.25s ease;
  z-index: 100;
}

.dropdown-options.open {
  max-height: 150px;
  opacity: 1;
}

.dropdown-option {
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.unit {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  font-style: italic;
}

/* scrollbar for Chrome/Edge/Safari */
.dropdown-options::-webkit-scrollbar {
  width: 6px;
}

.dropdown-options::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.dropdown-options::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* scrollbar for Firefox */
.dropdown-options {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* -------------------------------- Status message  */
.status-message {
  max-width: 400px;
  padding: 1rem;
  border-radius: 8px;
}

.note {
  max-height: 150px;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 0.5rem 0;
  font-size: 1rem;
  padding-right: 4px; /* necessary for scroll */
}

/* scrollbar for Chrome/Edge/Safari */
.note::-webkit-scrollbar {
  width: 6px;
}

/* scrollbar for Firefox */
.note {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--box-bg);
}

/* -------------------------------- Modal  */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  max-height: 90vh;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.modal-body {
  font-size: 1;
}

.modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5rem;
  color: red;
}

.custom-time-input {
  display: flex;
  gap: 0.5rem;
}

/* -------------------------------- Switch  */
/* .switch {
  position: relative;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all 0.3s ease;
}

.switch:checked {
  background-color: var(--color-accent);
}

.switch::before {
  position: absolute;
  content: "";
  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all 0.3s ease;
}

.switch:checked:before {
  transform: translateX(100%);
  border-color: var(--color-accent);
} */
